@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-image: linear-gradient(to right, rgb(6, 12, 51), rgb(39, 87, 112));
  margin: 0;
  padding-bottom: 50px;
  font-family: "Oswald";
}

h1,
h2,
h3 {
  color: aqua;
  font-family: "Bebas Neue";
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 100px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 30px;
}

.caption {
  margin-top: 0;
  font-size: 15px;
  color: rgb(255, 202, 104);
}

.keyWordsInfo {
  width: 45%;
}

section {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

hr {
  width: 92.5%;
  border: 0.5px solid aliceblue;
}

p {
  font-size: 25px;
  color: aliceblue;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.articles {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.article {
  width: 26vw;
  margin: 0;
}
